.root {
    background: linear-gradient(-45deg, #03534C, #013A35);
}
.panel
{
    position: fixed;
    top: 50%;
    left: 50%;
    display: grid;
    grid-auto-flow: row;
    transform: translate(-50%, -50%);
    background: var(--gray-6);
    padding: 33px 30px;
    border-radius: 25px;
    border: 1px solid var(--overlay-6);
    gap: 0.3em;
    width: 350px;
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.075);
    --accent: #03534C;        
}
    .panel img
    {
        height: 1.55em;
    }
    .panel .title
    {
        font-size: 1.75em;
        font-family: var(--font-bold);
        margin: 0.25em 0 0;
    }
    .panel .subtitle
    {
        font-size: 1.25em;
        margin: 0 0 25px;
    }
    .panel .inputs
    {
        display: grid;
        gap: 7px;
    }
        .panel .inputs button
        {
            margin: 25px 0 0;
        }
            .panel .inputs button .progressring
            {
                width: 1em;
                height: 1em;
            }
            .panel:not(.loading) .inputs button .progressring
            {
                display: none;
            }
        .panel .inputs .suggestion {
            margin-top: 1em;
            text-align: center;
        }
        .panel .inputs .error 
        {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content auto;
            gap: 0.5em;
            color: var(--notice);
            margin: 0 0 0.5em 0;
            font-size: 0.85em;
            letter-spacing: 0.015em;
        }
            .panel .inputs .error::before {
                content: "\f1aa";
                font-family: var(--font-icon);
            }
    .panel .buttons
    {
        display: grid;
        gap: 7px;
        margin: 25px 0 0;
    }
        .panel .buttons .error 
        {
            color: var(--notice);
            text-align: center;
            margin: 0 0 1em;
            font-size: 0.9em;
        }
        .panel .buttons button
        {
            padding: 0.6em 0.8em;
        }
            .panel .buttons button .progressring
            {
                width: 1em;
                height: 1em;
            }
        .panel .buttons .suggestion {
            margin-top: 1em;
            text-align: center;
        }