<section class="desktop">
	<div class="navigation">
		<a ad-goto="/patient">
			<span class='icon'>&#xfe8a;</span>
			<span>Beranda</span>
		</a>
		<a ad-goto="/patient/records">
			<span class='icon'>&#xefba;</span>
			<span>Rekam Medis</span>
		</a>
		<a ad-goto="/patient/chat">
			<span class='icon'>&#xf6a1;</span>
			<span>Tanya AI</span>
		</a>
		<a ad-goto="/patient/clinics">
			<span class='icon'>&#xedb7;</span>
			<span>Klinik</span>
		</a>
	</div> 
</section>

<section class="mobile">
	<span class="navigation">	
		<a ad-goto="/patient">
			<span class='icon'>&#xfe8b;</span>
			<span>Beranda</span>
		</a>
		<a ad-goto="/patient/records">
			<span class='icon'>&#xefba;</span>
			<span>Rekam Medis</span>
		</a>
		<a ad-goto="/patient/chat">
			<span class='icon'>&#xf6a0;</span>
			<span>Tanya AI</span>
		</a>
		<a ad-goto="/patient/clinics">
			<span class='icon'>&#xedb6;</span>
			<span>Klinik</span>
		</a>
	</span> 
</section>